<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.simc.mapper.SimcFamilyLandLosingMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.simc.domain.SimcFamilyLandLosing">
    <id column="fll_id" jdbcType="INTEGER" property="fllId" />
    <result column="family_no" jdbcType="VARCHAR" property="familyNo" />
    <result column="head_resident_name" jdbcType="VARCHAR" property="headResidentName" />
    <result column="fll_family_member_number" jdbcType="INTEGER" property="fllFamilyMemberNumber" />
    <result column="fll_eligible_member_number" jdbcType="INTEGER" property="fllEligibleMemberNumber" />
    <result column="original_agricultural_acreage" jdbcType="DOUBLE" property="originalAgriculturalAcreage" />
    <result column="fll_total_agricultural_acreage" jdbcType="DOUBLE" property="fllTotalAgriculturalAcreage" />
    <result column="current_agricultural_acreage" jdbcType="DOUBLE" property="currentAgriculturalAcreage" />
    <result column="per_agricultural_acreage" jdbcType="DOUBLE" property="perAgriculturalAcreage" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_is_city_level" jdbcType="INTEGER" property="projectIsCityLevel" />
    <result column="fll_time" jdbcType="VARCHAR" property="fllTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    fll_id, family_no, head_resident_name, fll_family_member_number, fll_eligible_member_number, 
    original_agricultural_acreage, fll_total_agricultural_acreage, current_agricultural_acreage, 
    per_agricultural_acreage, project_id, project_name, project_is_city_level, fll_time, 
    remark, create_user_id, create_time, modify_user_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from simc_family_land_losing
    where fll_id = #{fllId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from simc_family_land_losing
    where fll_id = #{fllId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.simc.domain.SimcFamilyLandLosing" useGeneratedKeys="true" keyProperty="fllId">
    insert into simc_family_land_losing (fll_id, family_no, head_resident_name, 
      fll_family_member_number, fll_eligible_member_number, 
      original_agricultural_acreage, fll_total_agricultural_acreage, 
      current_agricultural_acreage, per_agricultural_acreage, 
      project_id, project_name, project_is_city_level, 
      fll_time, remark, create_user_id, 
      create_time, modify_user_id, modify_time
      )
    values (#{fllId,jdbcType=INTEGER}, #{familyNo,jdbcType=VARCHAR}, #{headResidentName,jdbcType=VARCHAR}, 
      #{fllFamilyMemberNumber,jdbcType=INTEGER}, #{fllEligibleMemberNumber,jdbcType=INTEGER}, 
      #{originalAgriculturalAcreage,jdbcType=DOUBLE}, #{fllTotalAgriculturalAcreage,jdbcType=DOUBLE}, 
      #{currentAgriculturalAcreage,jdbcType=DOUBLE}, #{perAgriculturalAcreage,jdbcType=DOUBLE}, 
      #{projectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{projectIsCityLevel,jdbcType=INTEGER}, 
      #{fllTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.simc.domain.SimcFamilyLandLosing" useGeneratedKeys="true" keyProperty="fllId">
    insert into simc_family_land_losing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fllId != null">
        fll_id,
      </if>
      <if test="familyNo != null">
        family_no,
      </if>
      <if test="headResidentName != null">
        head_resident_name,
      </if>
      <if test="fllFamilyMemberNumber != null">
        fll_family_member_number,
      </if>
      <if test="fllEligibleMemberNumber != null">
        fll_eligible_member_number,
      </if>
      <if test="originalAgriculturalAcreage != null">
        original_agricultural_acreage,
      </if>
      <if test="fllTotalAgriculturalAcreage != null">
        fll_total_agricultural_acreage,
      </if>
      <if test="currentAgriculturalAcreage != null">
        current_agricultural_acreage,
      </if>
      <if test="perAgriculturalAcreage != null">
        per_agricultural_acreage,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectIsCityLevel != null">
        project_is_city_level,
      </if>
      <if test="fllTime != null">
        fll_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fllId != null">
        #{fllId,jdbcType=INTEGER},
      </if>
      <if test="familyNo != null">
        #{familyNo,jdbcType=VARCHAR},
      </if>
      <if test="headResidentName != null">
        #{headResidentName,jdbcType=VARCHAR},
      </if>
      <if test="fllFamilyMemberNumber != null">
        #{fllFamilyMemberNumber,jdbcType=INTEGER},
      </if>
      <if test="fllEligibleMemberNumber != null">
        #{fllEligibleMemberNumber,jdbcType=INTEGER},
      </if>
      <if test="originalAgriculturalAcreage != null">
        #{originalAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="fllTotalAgriculturalAcreage != null">
        #{fllTotalAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="currentAgriculturalAcreage != null">
        #{currentAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="perAgriculturalAcreage != null">
        #{perAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectIsCityLevel != null">
        #{projectIsCityLevel,jdbcType=INTEGER},
      </if>
      <if test="fllTime != null">
        #{fllTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.simc.domain.SimcFamilyLandLosing">
    update simc_family_land_losing
    <set>
      <if test="familyNo != null">
        family_no = #{familyNo,jdbcType=VARCHAR},
      </if>
      <if test="headResidentName != null">
        head_resident_name = #{headResidentName,jdbcType=VARCHAR},
      </if>
      <if test="fllFamilyMemberNumber != null">
        fll_family_member_number = #{fllFamilyMemberNumber,jdbcType=INTEGER},
      </if>
      <if test="fllEligibleMemberNumber != null">
        fll_eligible_member_number = #{fllEligibleMemberNumber,jdbcType=INTEGER},
      </if>
      <if test="originalAgriculturalAcreage != null">
        original_agricultural_acreage = #{originalAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="fllTotalAgriculturalAcreage != null">
        fll_total_agricultural_acreage = #{fllTotalAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="currentAgriculturalAcreage != null">
        current_agricultural_acreage = #{currentAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="perAgriculturalAcreage != null">
        per_agricultural_acreage = #{perAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectIsCityLevel != null">
        project_is_city_level = #{projectIsCityLevel,jdbcType=INTEGER},
      </if>
      <if test="fllTime != null">
        fll_time = #{fllTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fll_id = #{fllId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.simc.domain.SimcFamilyLandLosing">
    update simc_family_land_losing
    set family_no = #{familyNo,jdbcType=VARCHAR},
      head_resident_name = #{headResidentName,jdbcType=VARCHAR},
      fll_family_member_number = #{fllFamilyMemberNumber,jdbcType=INTEGER},
      fll_eligible_member_number = #{fllEligibleMemberNumber,jdbcType=INTEGER},
      original_agricultural_acreage = #{originalAgriculturalAcreage,jdbcType=DOUBLE},
      fll_total_agricultural_acreage = #{fllTotalAgriculturalAcreage,jdbcType=DOUBLE},
      current_agricultural_acreage = #{currentAgriculturalAcreage,jdbcType=DOUBLE},
      per_agricultural_acreage = #{perAgriculturalAcreage,jdbcType=DOUBLE},
      project_id = #{projectId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_is_city_level = #{projectIsCityLevel,jdbcType=INTEGER},
      fll_time = #{fllTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where fll_id = #{fllId,jdbcType=INTEGER}
  </update>

  <select id="selectByFamilyNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from simc_family_land_losing
    where family_no = #{familyNo,jdbcType=VARCHAR}
    <if test="projectId != null">
      and project_id = #{projectId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectList" parameterType="com.ruoyi.simc.domain.SimcFamilyLandLosing" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from simc_family_land_losing
    <where>
      <if test="familyNo != null and familyNo != ''">
        AND family_no like concat('%', #{familyNo}, '%')
      </if>
      <if test="headResidentName != null and headResidentName != ''">
        AND head_resident_name like concat('%', #{headResidentName}, '%')
      </if>
      <if test="projectName != null and projectName != ''">
        AND project_name like concat('%', #{projectName}, '%')
      </if>
    </where>
  </select>

  <update id="updateByFamilyNoSelective" parameterType="com.ruoyi.simc.domain.SimcFamilyLandLosing">
    update simc_family_land_losing
    <set>
      <if test="headResidentName != null">
        head_resident_name = #{headResidentName,jdbcType=VARCHAR},
      </if>
      <if test="fllFamilyMemberNumber != null">
        fll_family_member_number = #{fllFamilyMemberNumber,jdbcType=INTEGER},
      </if>
      <if test="fllEligibleMemberNumber != null">
        fll_eligible_member_number = #{fllEligibleMemberNumber,jdbcType=INTEGER},
      </if>
      <if test="originalAgriculturalAcreage != null">
        original_agricultural_acreage = #{originalAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="fllTotalAgriculturalAcreage != null">
        fll_total_agricultural_acreage = #{fllTotalAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="currentAgriculturalAcreage != null">
        current_agricultural_acreage = #{currentAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="perAgriculturalAcreage != null">
        per_agricultural_acreage = #{perAgriculturalAcreage,jdbcType=DOUBLE},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectIsCityLevel != null">
        project_is_city_level = #{projectIsCityLevel,jdbcType=INTEGER},
      </if>
      <if test="fllTime != null">
        fll_time = #{fllTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where family_no = #{familyNo,jdbcType=VARCHAR}
  </update>
</mapper>