<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.simc.mapper.SimcOldLandLosingSubsidyMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.simc.domain.SimcOldLandLosingSubsidy">
    <id column="resident_id_card_no" jdbcType="INTEGER" property="residentIdCardNo" />
    <result column="resident_name" jdbcType="VARCHAR" property="residentName" />
    <result column="resident_sex" jdbcType="INTEGER" property="residentSex" />
    <result column="resident_Birth_date" jdbcType="TIMESTAMP" property="residentBirthDate" />
    <result column="resident_phone" jdbcType="VARCHAR" property="residentPhone" />
    <result column="resident_township_district_id" jdbcType="BIGINT" property="residentTownshipDistrictId" />
    <result column="resident_village_district_id" jdbcType="BIGINT" property="residentVillageDistrictId" />
    <result column="resident_group_district_id" jdbcType="BIGINT" property="residentGroupDistrictId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_level" jdbcType="VARCHAR" property="payLevel" />
    <result column="pay_monmey" jdbcType="DOUBLE" property="payMonmey" />
    <result column="annuity_draw_time" jdbcType="TIMESTAMP" property="annuityDrawTime" />
    <result column="annuity_draw_level" jdbcType="VARCHAR" property="annuityDrawLevel" />
    <result column="annuity_money" jdbcType="DOUBLE" property="annuityMoney" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    resident_id_card_no, resident_name, resident_sex, resident_Birth_date, resident_phone,
    resident_township_district_id, resident_village_district_id, resident_group_district_id, 
    pay_time, pay_level, pay_monmey, annuity_draw_time, annuity_draw_level, annuity_money, 
    remark, create_user_id, create_time, modify_user_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from simc_old_land_losing_subsidy
    where resident_id_card_no = #{residentIdCardNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from simc_old_land_losing_subsidy
    where resident_id_card_no = #{residentIdCardNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.simc.domain.SimcOldLandLosingSubsidy">
    insert into simc_old_land_losing_subsidy (resident_id_card_no, resident_name, resident_sex, 
      resident_Birth_date, resident_phone, resident_township_district_id,
      resident_village_district_id, resident_group_district_id, 
      pay_time, pay_level, pay_monmey, 
      annuity_draw_time, annuity_draw_level, annuity_money, 
      remark, create_user_id, create_time, 
      modify_user_id, modify_time)
    values (#{residentIdCardNo,jdbcType=INTEGER}, #{residentName,jdbcType=VARCHAR}, #{residentSex,jdbcType=INTEGER}, 
      #{residentBirthDate,jdbcType=TIMESTAMP}, #{residentPhone,jdbcType=VARCHAR}, #{residentTownshipDistrictId,jdbcType=BIGINT},
      #{residentVillageDistrictId,jdbcType=BIGINT}, #{residentGroupDistrictId,jdbcType=BIGINT}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payLevel,jdbcType=VARCHAR}, #{payMonmey,jdbcType=DOUBLE}, 
      #{annuityDrawTime,jdbcType=TIMESTAMP}, #{annuityDrawLevel,jdbcType=VARCHAR}, #{annuityMoney,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.simc.domain.SimcOldLandLosingSubsidy">
    insert into simc_old_land_losing_subsidy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="residentIdCardNo != null">
        resident_id_card_no,
      </if>
      <if test="residentName != null">
        resident_name,
      </if>
      <if test="residentSex != null">
        resident_sex,
      </if>
      <if test="residentBirthDate != null">
        resident_Birth_date,
      </if>
      <if test="residentPhone != null">
        resident_phone,
      </if>
      <if test="residentTownshipDistrictId != null">
        resident_township_district_id,
      </if>
      <if test="residentVillageDistrictId != null">
        resident_village_district_id,
      </if>
      <if test="residentGroupDistrictId != null">
        resident_group_district_id,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="payLevel != null">
        pay_level,
      </if>
      <if test="payMonmey != null">
        pay_monmey,
      </if>
      <if test="annuityDrawTime != null">
        annuity_draw_time,
      </if>
      <if test="annuityDrawLevel != null">
        annuity_draw_level,
      </if>
      <if test="annuityMoney != null">
        annuity_money,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="residentIdCardNo != null">
        #{residentIdCardNo,jdbcType=INTEGER},
      </if>
      <if test="residentName != null">
        #{residentName,jdbcType=VARCHAR},
      </if>
      <if test="residentSex != null">
        #{residentSex,jdbcType=INTEGER},
      </if>
      <if test="residentBirthDate != null">
        #{residentBirthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="residentPhone != null">
        #{residentPhone,jdbcType=VARCHAR},
      </if>
      <if test="residentTownshipDistrictId != null">
        #{residentTownshipDistrictId,jdbcType=BIGINT},
      </if>
      <if test="residentVillageDistrictId != null">
        #{residentVillageDistrictId,jdbcType=BIGINT},
      </if>
      <if test="residentGroupDistrictId != null">
        #{residentGroupDistrictId,jdbcType=BIGINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payLevel != null">
        #{payLevel,jdbcType=VARCHAR},
      </if>
      <if test="payMonmey != null">
        #{payMonmey,jdbcType=DOUBLE},
      </if>
      <if test="annuityDrawTime != null">
        #{annuityDrawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="annuityDrawLevel != null">
        #{annuityDrawLevel,jdbcType=VARCHAR},
      </if>
      <if test="annuityMoney != null">
        #{annuityMoney,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.simc.domain.SimcOldLandLosingSubsidy">
    update simc_old_land_losing_subsidy
    <set>
      <if test="residentName != null">
        resident_name = #{residentName,jdbcType=VARCHAR},
      </if>
      <if test="residentSex != null">
        resident_sex = #{residentSex,jdbcType=INTEGER},
      </if>
      <if test="residentBirthDate != null">
        resident_Birth_date = #{residentBirthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="residentPhone != null">
        resident_phone = #{residentPhone,jdbcType=VARCHAR},
      </if>
      <if test="residentTownshipDistrictId != null">
        resident_township_district_id = #{residentTownshipDistrictId,jdbcType=BIGINT},
      </if>
      <if test="residentVillageDistrictId != null">
        resident_village_district_id = #{residentVillageDistrictId,jdbcType=BIGINT},
      </if>
      <if test="residentGroupDistrictId != null">
        resident_group_district_id = #{residentGroupDistrictId,jdbcType=BIGINT},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payLevel != null">
        pay_level = #{payLevel,jdbcType=VARCHAR},
      </if>
      <if test="payMonmey != null">
        pay_monmey = #{payMonmey,jdbcType=DOUBLE},
      </if>
      <if test="annuityDrawTime != null">
        annuity_draw_time = #{annuityDrawTime,jdbcType=TIMESTAMP},
      </if>
      <if test="annuityDrawLevel != null">
        annuity_draw_level = #{annuityDrawLevel,jdbcType=VARCHAR},
      </if>
      <if test="annuityMoney != null">
        annuity_money = #{annuityMoney,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where resident_id_card_no = #{residentIdCardNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.simc.domain.SimcOldLandLosingSubsidy">
    update simc_old_land_losing_subsidy
    set resident_name = #{residentName,jdbcType=VARCHAR},
      resident_sex = #{residentSex,jdbcType=INTEGER},
      resident_Birth_date = #{residentBirthDate,jdbcType=TIMESTAMP},
      resident_phone = #{residentPhone,jdbcType=VARCHAR},
      resident_township_district_id = #{residentTownshipDistrictId,jdbcType=BIGINT},
      resident_village_district_id = #{residentVillageDistrictId,jdbcType=BIGINT},
      resident_group_district_id = #{residentGroupDistrictId,jdbcType=BIGINT},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_level = #{payLevel,jdbcType=VARCHAR},
      pay_monmey = #{payMonmey,jdbcType=DOUBLE},
      annuity_draw_time = #{annuityDrawTime,jdbcType=TIMESTAMP},
      annuity_draw_level = #{annuityDrawLevel,jdbcType=VARCHAR},
      annuity_money = #{annuityMoney,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where resident_id_card_no = #{residentIdCardNo,jdbcType=INTEGER}
  </update>
</mapper>