<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.simc.mapper.SimcResidentMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.simc.domain.SimcResident">
    <id column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="reside_type" jdbcType="VARCHAR" property="resideType" />
    <result column="township_district_id" jdbcType="BIGINT" property="townshipDistrictId" />
    <result column="village_district_id" jdbcType="BIGINT" property="villageDistrictId" />
    <result column="group_district_id" jdbcType="BIGINT" property="groupDistrictId" />
    <result column="living_state" jdbcType="VARCHAR" property="livingState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id_card_no, name, sex, birth_date, phone, reside_type, township_district_id, village_district_id, 
    group_district_id, living_state, remark, create_user_id, create_time, modify_user_id, 
    modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from simc_resident
    where id_card_no = #{idCardNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from simc_resident
    where id_card_no = #{idCardNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.simc.domain.SimcResident">
    insert into simc_resident (id_card_no, name, sex, 
      birth_date, phone, reside_type, 
      township_district_id, village_district_id, group_district_id, 
      living_state, remark, create_user_id, 
      create_time, modify_user_id, modify_time
      )
    values (#{idCardNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{birthDate,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, #{resideType,jdbcType=VARCHAR}, 
      #{townshipDistrictId,jdbcType=BIGINT}, #{villageDistrictId,jdbcType=BIGINT}, #{groupDistrictId,jdbcType=BIGINT}, 
      #{livingState,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.simc.domain.SimcResident">
    insert into simc_resident
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idCardNo != null">
        id_card_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthDate != null">
        birth_date,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="resideType != null">
        reside_type,
      </if>
      <if test="townshipDistrictId != null">
        township_district_id,
      </if>
      <if test="villageDistrictId != null">
        village_district_id,
      </if>
      <if test="groupDistrictId != null">
        group_district_id,
      </if>
      <if test="livingState != null">
        living_state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idCardNo != null">
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="resideType != null">
        #{resideType,jdbcType=VARCHAR},
      </if>
      <if test="townshipDistrictId != null">
        #{townshipDistrictId,jdbcType=BIGINT},
      </if>
      <if test="villageDistrictId != null">
        #{villageDistrictId,jdbcType=BIGINT},
      </if>
      <if test="groupDistrictId != null">
        #{groupDistrictId,jdbcType=BIGINT},
      </if>
      <if test="livingState != null">
        #{livingState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.simc.domain.SimcResident">
    update simc_resident
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthDate != null">
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="resideType != null">
        reside_type = #{resideType,jdbcType=VARCHAR},
      </if>
      <if test="townshipDistrictId != null">
        township_district_id = #{townshipDistrictId,jdbcType=BIGINT},
      </if>
      <if test="villageDistrictId != null">
        village_district_id = #{villageDistrictId,jdbcType=BIGINT},
      </if>
      <if test="groupDistrictId != null">
        group_district_id = #{groupDistrictId,jdbcType=BIGINT},
      </if>
      <if test="livingState != null">
        living_state = #{livingState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_card_no = #{idCardNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.simc.domain.SimcResident">
    update simc_resident
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=VARCHAR},
      reside_type = #{resideType,jdbcType=VARCHAR},
      township_district_id = #{townshipDistrictId,jdbcType=BIGINT},
      village_district_id = #{villageDistrictId,jdbcType=BIGINT},
      group_district_id = #{groupDistrictId,jdbcType=BIGINT},
      living_state = #{livingState,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id_card_no = #{idCardNo,jdbcType=VARCHAR}
  </update>
</mapper>